body {
	font-family: Monospace;
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }

/* Button to select frames: */

.round-button {
	background-color: #b1bed3;
	border: none;
	color: white;
	padding: 7.6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}

.selected {
	background-color: #0eb234; !important
}